<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="src/external/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SSV</title>
</head>
<body>
<nav id="navbar1" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">SSV</a>
        <button type="button" class="navbar-toggler collapsed navbar-toggler-right bg-light"
                data-toggle="collapse" data-target="#navbar2"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbar2">
        <ul id="navbarInner" class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">메인</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="init">시간표</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
        </ul>
    </div>
</nav>
<div class="text-center" id="start" style="margin: auto; width: 1000px; font-size: 20px; font-weight: bold;">
    <form id="visualizerForm" method="post" action="visualizer">
        <input id="days" name="days" type="number" placeholder="5(days per week)" />
        <input id="times" name="times" type="number" placeholder="13(times)" />
        <input type="submit" id="submit" class="btn btn-primary" value="submit" style="margin-left: -4px; font-size: 20px; font-weight: bold;" />
    </form>
</div>
</body>
<script src="src/external/js/jquery-3.4.1.min.js"></script>
<script src="src/external/js/bootstrap.js"></script>
<script src="src/js/init.js"></script>
<script>
    if ({{ hasCookie }}) {
        location.href = "/visualizer";
    }
</script>
</html>